<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
    <section name="emailSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="smsSettings" type="System.Configuration.NameValueSectionHandler" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="PIPconString" connectionString="Data Source=192.168.26.180;Initial Catalog=PIPCentral;User ID=sa;Password=sglrfid!23" providerName="System.Data.SqlClient" />-->
    <!--<add name="connString" connectionString="Data Source=192.168.0.140;Initial Catalog=LaundryManagement;User ID=sa;Password=test!23" providerName="System.Data.SqlClient" />-->
    <!-- <add name="connString" connectionString="Data Source= pslgoa.database.windows.net;Initial Catalog=LaundryManagement;User ID=psladmin;Password=test!234" providerName="System.Data.SqlClient" />
    <add name="LaundryManagementEntities" connectionString="metadata=res://*/DBContext.LaundryManagementEntities.csdl|res://*/DBContext.LaundryManagementEntities.ssdl|res://*/DBContext.LaundryManagementEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pslgoa.database.windows.net;initial catalog=LaundryManagement;user id=psladmin;password=test!234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="connString" connectionString="Data Source= DESKTOP-86HRD42;Initial Catalog=GRB;User ID=sa;Password=test!23" providerName="System.Data.SqlClient" />
    <!--<add name="connString" connectionString="Data Source= 192.168.1.12;Initial Catalog=GRB;User ID=sa;Password=grb!23" providerName="System.Data.SqlClient" />-->
    <!--<add name="connString" connectionString="Data Source= pslgoa.database.windows.net;Initial Catalog=GRB;User ID=psladmin;Password=admin@2023" providerName="System.Data.SqlClient" />-->
    <!--<add name="connString" connectionString="Data Source= pslgoa.database.windows.net;Initial Catalog=LaundryManagement2;User ID=psladmin;Password=test!234" providerName="System.Data.SqlClient" />
    <add name="LaundryManagementEntities" connectionString="metadata=res://*/DBContext.LaundryManagementEntities.csdl|res://*/DBContext.LaundryManagementEntities.ssdl|res://*/DBContext.LaundryManagementEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pslgoa.database.windows.net;initial catalog=LaundryManagement2;user id=psladmin;password=test!234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <!--<emailSettings>
    <add key="host" value="email.sesavedanta.co.in" />  
    <add key="port" value="25" />
    <add key="enableSSL" value="false" />
    <add key="UseDefaultCredentials" value="false" />    
    <add key="username" value="shabashi.app" />
    <add key="password" value="Welcome@12" />
    <add key="timeout" value="5000" />
  </emailSettings>-->
  <emailSettings>
    <add key="host" value="mail.psl.co.in" />
    <add key="port" value="26" />
    <add key="enableSSL" value="false" />
    <add key="UseDefaultCredentials" value="false" />
    <add key="username" value="tejas@psl.co.in" />
    <add key="password" value="pslemailpass!23" />
    <add key="timeout" value="5000" />
  </emailSettings>
  <smsSettings>
    <add key="url" value="http://buzzify.in/V2/http-api.php" />
    <add key="APIKey" value="9gDakL7C7LiuVWNS" />
    <add key="SenderId" value="MPTPRD" />
  </smsSettings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EmailNotification" value="true" />
    <add key="SMSNotification" value="true" />
    <add key="SP_Get_CustomerDetails" value="PSL_GetAllCustomers" />
    <add key="SP_Get_AllVendors" value="PSL_GetAllVendors" />
    <add key="SP_GetAllRCOAssets" value="PSL_GetAllRCOAssets" />
    <add key="SP_Get_AllAssetTypes" value="PSL_GetAllAssetTypes" />
    <add key="SP_Get_Touchpoints" value="PSL_GetTouchpoints" />
    <add key="SP_Get_AllAssets" value="PSL_GetAllAssets" />
    <add key="Login" value="Prc_GetUserLogin" />
    <!--<add key="MobileLogin" value="Prc_MobileLogin" />-->
    <add key="SP_Get_AllAssets_Mobile" value="PSL_GetAllAssetsForMobile" />
    <add key="SP_Get_AllRooms" value="PSL_GetAllRooms" />
    <add key="SP_Insert_ApprovalRecord" value="PIP_Insert_ApprovalRecord_V2" />
    <add key="SP_Get_ApprovalRecord" value="PIP_Get_ApprovalRecord" />
    <add key="SP_ApproveTransaction" value="PIP_ApproveTransaction" />
    <add key="SP_Insert_Tripdetail" value="PIP_Insert_TripDetails" />
    <add key="SP_Insert_Transactiondetail" value="PIP_Insert_TransactionDetails" />
    <add key="SP_Get_CastDetails" value="PIP_Get_CastDetails" />
    <add key="SP_Get_GETTasks" value="PIP_PDA_GET_Tasks" />
    <add key="SP_GET_TansactionTypes" value="PIP_PDA_GET_TansactionTypes" />
    <add key="SP_GET_PDAUsers" value="PIP_PDA_GET_Users" />
    <add key="SP_GET_PDASourcePlants" value="PIP_PDA_GET_PDASourcePlants" />
    <add key="SP_GET_TouchPoints" value="PIP_PDA_GET_Touchpoints" />
    <add key="SP_GET_locations" value="PIP_PDA_GET_Locations" />
    <add key="SP_GET_PreviousTripDetails" value="PIP_PDA_GetPreviousTripDetails" />
    <add key="SP_GET_LastTripDetailsbyTruckID" value="PIP_GetLastTripDetailsByTruckID" />
    <add key="SP_Insert_PDA_TripDetails" value="PIP_Insert_TripDetails_web_V2" />
    <add key="SP_GET_NotificationConfiguration" value="PIP_GetNotificationConfiguration" />
    <!---WareHouse_SP-->
    <add key="SP_Get_AssetInfo" value="PSL_SP_Get_AssetInfo" />
    <add key="SP_Get_PalletDetails" value="PSl_SP_Get_PalletDetails" />
    <add key="SP_Get_ContainerDetails" value="PSl_SP_Get_ContainerDetails" />
    <add key="MobileLogin" value="Prc_MobileLogin" />
    <add key="SP_InsertReaderTranslogitems" value="PSL_SP_InsertReaderTranslogitems" />
    <add key="SP_InsertReaderTransLog" value="PSL_SP_InsertReaderTransLogV1" />
    <add key="SP_InsertReaderTransLog1" value="PSL_SP_InsertReaderTransLog1" />
    <add key="TabLogin" value="Prc_GetTabLogin" />
    <add key="SP_GetStatusDetails" value="PSL_SP_GetStatusDetails" />
    <add key="SP_GetWorkorderLists" value="PSL_SP_GetWorkorderLists" />
    <add key="SP_UpdateWorkorderStatus" value="PSL_SP_UpdateWorkorderStatus" />
    <add key="SP_GetWorkorderListItems" value="PSL_SP_GetWorkorderListItemsV1" />
    <add key="SP_UploadCurrentPallet" value="PSL_SP_UploadCurrentPalletV1" />
    <add key="SP_WorkorderStateUpdate" value="PSL_SP_WorkorderStateUpdate" />
    <add key="SP_GetPalletName" value="PSL_SP_GetPalletName" />
    <add key="SP_WebLogin" value="PSL_webLogin" />
    <add key="SP_GetTruckDetails" value="PSL_SP_GetTruckDetails" />
    <add key="SP_GetPalletWithItemDetails" value="PSL_SP_GetPalletWithItemDetailsV3" />
    <add key="SP_GetPalletDetailsWithTruckID" value="PSL_SP_GetPalletDetailsWithTruckID" />
    <add key="SP_CreateWorkOrder" value="PSL_SP_CreateWorkOrder" />
    <add key="SP_CreateWorkOrderDetails" value="PSL_SP_CreateWorkOrderDetailsV1" />
    <add key="SP_GetTruckDetailsForPDA" value="PSL_SP_GetTruckDetailsForPDAV1" />
    <add key="SP_InsertActivity" value="PSL_SP_InsertActivityV5" />
    <add key="SP_InsertActivityDetails" value="PSL_SP_InsertActivityDetailsV5" />
    <add key="SP_GetLocationName" value="PSL_SP_GetLocationName" />
    <add key="SP_GetTruckDetailsByLocationName" value="PSL_SP_GetTruckDetailsByLocationName" />
    <add key="SP_GetSTOLineItemsByTruckID" value="PSL_SP_GetSTOAndSOLineItemsByTruckIDV3" />
    <add key="SP_InsertActivityDetailsForItems" value="PSL_SP_InsertActivityDetailsForItemsV4" />
    <add key="SP_CreateWorkOrderU1" value="PSL_SP_CreateWorkOrderU1" />
    <add key="SP_CreateWorkOrderDetailsU1" value="PSL_SP_CreateWorkOrderDetailsU1V1" />
    <add key="SP_GRB_GETPalletInfo" value="GRB_GETPalletInfoV2" />
    <add key="SP_GetPalletInfoDis" value="GRB_GETPalletInfoDisV2" />
    <add key="SP_GRB_GetPalletBinMappedInfo" value="GRB_GETPalletBinMappedInfo" />
    <add key="SP_GetPalletBinMappedInfoL0" value="GRB_GETPalletBinMappedInfoL0" />
    <add key="SP_GetPalletBinMappedItemsL0" value="GRB_GETPalletBinMappedInfoItemsL0" />
    <add key="SP_GRB_GetPalletBinMappedInfoI0" value="GRB_GetPalletBinMappedInfoI0" />
    <add key="SP_StartReader" value="PSL_SP_StartReader" />
    
    <add key="SP_CreateWorkOrderU0" value="PSL_SP_CreateWorkOrderU0V1" />
    <add key="SP_CreateWorkOrderDetailsU0" value="PSL_SP_CreateWorkOrderDetailsU0v1" />
    <add key="SP_CreateWorkOrderL0" value="PSL_SP_CreateWorkOrderL0" />
    <add key="SP_CreateWorkOrderDetailsL0" value="PSL_SP_CreateWorkOrderDetailsL0V2" />
    <add key="SP_GetReaderWorkorderList" value="PSL_SP_GetReaderWorkorderListV1" />
    <add key="SP_GetPartialWorkorderList" value="PSL_SP_GetPartialWorkorderListV1" />
    <add key="SP_GetPartialWorkorderItemDetails" value="PSL_SP_GetPartialWorkorderItemDetailsV1" />
    <add key="SP_InsertPartialWorkorder" value="PSL_SP_InsertPartialWorkorderV2" />
    <add key="SP_InsertPartialWorkorderItems" value="PSL_SP_InsertPartialWorkorderItemsV3" />
    <add key="SP_CreateWorkOrderL1" value="PSL_SP_CreateWorkOrderL1v1" />
    <add key="SP_CreateWorkOrderDetailsL1" value="PSL_SP_CreateWorkOrderDetailsL1" />
    <add key="SP_GetPendingWorkorderDetails" value="PSL_SP_GetPendingWorkorderDetailsV1" />
    <add key="SP_InsertReaderTransLogForService" value="PSL_SP_InsertReaderTransLogForService" />
    <add key="SP_InsertReaderTranslogitemsForService" value="PSL_SP_InsertReaderTranslogitemsForService" />
    <add key="SP_GetWorkorderListForPDA" value="PSL_SP_GetWorkorderListForPDA" />
    <add key="SP_CloseWorkorderU0" value="PSL_SP_CloseWorkorderU0" />
    <add key="SP_UploadCurrentBin" value="PSL_SP_UploadCurrentBin" />
    <add key="SP_InsertWMSData" value="PSL_SP_InsertWMSDataV1" />
    <add key="SP_CreateWorkOrderI0" value="PSL_SP_CreateWorkOrderI0" />
    <add key="SP_CreateWorkOrderDetailsI0" value="PSL_SP_CreateWorkOrderDetailsI0" />
    <add key="SP_GetPalletBinMappedInfoForItemMovement" value="GRB_GetPalletBinMappedInfoForItemMovement" />
    <add key="SP_InsertItemMovementActivity" value="PSL_SP_InsertItemMovementActivity" />
    <add key="SP_InsertItemMovementActivityDetails" value="PSL_SP_InsertItemMovementActivityDetails" />
    <add key="SP_InsertItemQrActivity" value="PSL_SP_InsertItemQrActivity" />
    <add key="SP_InsertItemQrActivityDetails" value="PSL_SP_InsertItemQrActivityDetails" />
    <add key="SP_GetAllBarcodesForTransaction" value="PSL_SP_GetAllBarcodesForTransaction" />
    <add key="SP_GET_TranscationNoQR" value="PSL_SP_GET_TranscationNoQR" />
    <add key="SP_GET_QR_Details" value="PSL_SP_GET_QR_Details" />
    <add key="SP_InsertDigitizerData" value="PSL_SP_InsertDigitizerData" />
    <add key="SP_InsertDigitizerDataDetails" value="PSL_SP_InsertDigitizerDataDetails" />
    <add key="SP_GetDCDetailsForPDA" value="PSL_SP_GetDCDetailsForPDA" />
    <add key="SP_GetSKUDetailsForPDA" value="PSL_SP_GetDCLineItemsForPDA" />
    <add key="SP_InsertActivityForPlant" value="PSL_SP_InsertActivityForPlant" />
    <add key="SP_InsertScannedActivityDetailsForPlant" value="PSL_SP_InsertScannedActivityDetailsForPlant" />
    <add key="SP_InsertManualActivityDetailsForPlant" value="PSL_SP_InsertManualActivityDetailsForPlant" />
    <add key="SP_InsertQRManualActivityDetailsForPlant" value="PSL_SP_InsertQRManualActivityDetailsForPlant" />
    <add key="SP_InsertWMSDataParent" value="PSL_SP_InsertWMSDataParentV1" />
    <add key="SP_InsertWMSDataChild" value="PSL_SP_InsertWMSDataChild" />
    
  
    <add key="RSSI" value="65" />
    <add key="Power" value="45" />
    <add key="PollingTimer" value="3000" />

    <add key="warehouseId" value ="1"/>

    <!--Put methods URl-->
    <add key="UnloadMethodUrl" value="http://192.168.100.18:8082/wms/api/v1/stocks/process/unload" />
    <add key="LoadMethodUrl" value="http://192.168.100.18:8082/wms/api/v1/dispatch/loadComplete" />
    <add key="ReceivingMethodUrl" value="http://192.168.100.18:8082/wms/api/v1/stocks/process/put"/>
    <add key="DispatchMethodUrlL0" value="http://192.168.100.18:8082/wms/api/v1/stocks/process/pick"/>
    <add key="DispatchMethodUrlL1" value="http://192.168.100.18:8082/wms/api/v1/stocks/process/moveLoadingZone"/>
    <add key="GetBinDetailsUrl" value="http://192.168.100.18:8082/wms/api/v1/stocks/bins/binName/"/>
    <add key="AuthorizationUrl" value="http://192.168.100.18:8082/wms/api/auth/authorize"/>
    <add key="Username" value="ashutosh.sahib@psl.co.in"/>
    <add key="Password" value="pass123"/>
    <add key="SOSyncUrl" value="http://192.168.100.18:8082/wms/api/v1/dispatch/dispatchNo/"/>
  </appSettings>
  <!-- Log4net Logging Setup -->
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\" />
      <!-- the location where the log file would be created -->
      <datePattern value="'OTSService'yyyy-MM-dd'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="100KB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.6.0" newVersion="5.11.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>